
.usuario-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.usuario-card:hover {
    transform: scale(1.02);
}

.usuario-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;


}


.usuario-info  {
flex-grow: 1;

}

.usuario-info h3 {
margin: 0 0 10px 0;
color: blueviolet;
font-size: 0.9rem;

}

.usuario-badge {
padding: 4px 10px;
border-radius: 20px;
font-size: 0.8rem;
font-weight: bold;

}

.badge-activo { background: #d4edda; color: #155724; }
.badge-inactivo { background: #f8d7da; color: #721c24; }



.usuario-acciones button {
background: #007bff;
border: none;
padding: 8px 15px;
border-radius: 6px;
cursor: pointer;
font-weight: 500;
color: white;

}





